@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: black;
    color: white;   
    box-sizing: border-box;
    
}

.titulo-destaque{
    color: #22D4FD;
}
.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}
.presentacion__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__content__title{
    size: 36px;
    font-family: "Montserrat Subrayada", sans-serif;
}
.presentacion__content__text{
    font-family: Monserrat;
    font-size: 24px;
}
.presentacion__enlaces{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces__link{
    width: 280px;
    background-color: black;
    text-align: center;
    padding: 21.5px, 0px;
    border-radius: 16px;
    font-family: Monserrat;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border: 2px solid #22D4FD;

}
.presentacion__photo{
    width: 400px;
    height: 450px;
    border-radius: 16px;
}
.presentacion__enlaces__subtitle{
    
}